/* Global*/
a {
  color: inherit;
}

img {
  max-width: 100%;
}

button {
  cursor: pointer;
}

.bg-red-color {
    background-color: #f72210;
}

.section-title {
  color: rgba(3,3,3,.4);
}

.article-category {
  bottom: 0;
  left: 0;
  font-size: 17px;
  background-color: #ffffffe6;
}

.text-roboto {
  font-family: 'Roboto Condensed', sans-serif;;
}

.text-arial {
  font-family: Arial, Helvetica, sans-serif;
}

.text-red-color {
  color: #f72210;
}

.text-semi-white {
  color: rgba(233, 233, 233, 0.863);
}

.text-black {
  color: #000;
}

.text-subtitle {
  font-size: 13px;
  line-height: 1.4;
}

.font-size-14 {
  font-size: 14px;
}

.section-delimeter {
    background-color: #F4F5F7;
    width: 100%;
    height: 18px;
}

.outline-none {
  outline: none;
}

/* Navigation */
.nav-button {
  font-size: 13px;
  border-radius: 100px;
  background-color: #ffe400;
}

.nav-brand svg {
  fill: white;
  height: 20px;
}

/* Top story */
.top-story-main-article-title {
  font-size: 22px;
}

/* The debate */
.avatar {
  flex-basis: 35%;
}

/* Culture travel */
.culture-travel-tag {
  background-color: #c2d4d7;
  color: #333;
}

/* Sign up */
.sign-up {
  border: 1px solid #e5e5e5;
  background-color: #f4f5f6;
}

.sign-up-title {
  font-size: 19px;
}

.sign-up-logo {
  width: 28px;
  height: 28px;
}

.sign-up-input {
  background-color: white;
  border: 1px solid #e0e1e1;
  text-indent: 9px;
}

/* Pseudo elements for linter error */
.featured-stories::before,
.the-debate::before,
.opinion::before,
.more-stories::before,
.my-turn::before {
  content: "";
  display: block;
  height: 18px;
  background-color: #f4f5f7;
  border-top: 1px solid #e2e2e2;
  position: absolute;
  top: 0;
  left: -15px;
  right: -15px;
}

.the-debate-article:first-of-type {
  border-top: 4px solid #d9d9d9;
}

.the-debate-article:last-of-type {
  border-bottom: 4px solid #d9d9d9;
}

.the-debate-vs::before,
.the-debate-vs::after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: #d9d9d9;
  display: block;
  left: 0;
  right: 0;
  z-index: -1;
}

.the-debate-vs::before {
  top: calc(50% - 2px);
}

.the-debate-vs::after {
  top: 50%;
}